@use './vars' as *;

@keyframes hand-shake {

  20% {
    transform: scale(3);
  }

  35% {
    transform: scale(3);
    rotate: 15deg;
  }

  45% {
    transform: scale(3);
    rotate: -15deg;
  }

  55% {
    transform: scale(3);
    rotate: 15deg;
  }

  65% {
    transform: scale(3);
    rotate: -15deg;
  }

  80% {
    rotate: 15deg;
    transform: scale(3);
  }

  100% {
    rotate: 0deg;
  }
}