@media (max-width: 1600px) {

  .aboutUs {

    &-images {
      justify-content: center;
      flex-wrap: wrap;

      &::before {
        top: -110px;
      }

      &::after {
        top: 270px;
      }
    }

    &-image {

      &:last-child {
        right: -40px;
        width: 240px;
      }
    }
  }
}

@media (max-width: 1230px) {

  .hero {

    &__title {
      font-size: 70px;
    }

    &__text {
      font-size: 40px;
    }
  }

  .aboutUs {

    &-content {
      max-width: 520px;
    }

    &-images {
      margin-right: 50px;
    }
  }
}

@media (max-width: 992px) {

  .section {

    &-hero {
      background-image:
        url(../images/svg/bg-top.svg);
      background-position: center top;
      background-repeat: repeat-x;
    }
  }

  .hero {

    &__title {
      margin-bottom: 30px;
      font-size: 55px;
    }

    &__text {
      margin-bottom: 35px;
      font-size: 35px;
    }
  }

  .aboutUs {
    justify-content: start;

    &-images {
      margin-right: 0;
      gap: 0;

      &::after {
        top: -75px;
      }
    }

    &-image {
      background-size: cover;

      &:nth-child(1) {
        position: absolute;
        width: 245px;
        top: 30px;
        left: -15px;
        z-index: -1;
      }

      &:nth-child(2) {
        overflow: hidden;
        margin-left: 160px;
        width: 125px;
        height: 320px;
        border-radius: 20px;
      }

      &:nth-child(3) {
        position: absolute;
        width: 190px;
        height: 155px;
        left: -15px;
        bottom: 10px;
      }

      &__item--hidden {
        max-width: none;
        width: 160%;
      }
    }
  }
}

@media (max-width: 768px) {

  .section {
    padding: 30px 0;

    &-hero {
      padding-top: 100px;
    }
  }

  .container {
    padding: 0 20px;
  }

  .hero {

    &__title {
      margin-bottom: 20px;
      font-weight: 600;
      font-size: 40px;
    }

    &__text {
      font-size: 28px;
    }
  }

  .aboutUs {
    flex-direction: column;
    gap: 90px;

    &-content {
      max-width: 100%;

      &__title {
        margin-bottom: 25px;
        font-weight: 600;
        font-size: 36px;
      }

      &__text {
        font-size: 16px;

        &:nth-last-child(2) {
          margin-bottom: 30px;
        }
      }

      &__btn {
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0 auto;
        min-width: 300px;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 576px) {

  .hero {

    &__title {
      margin-bottom: 5px;
      font-weight: 600;
      font-size: 36px;
    }

    &__text {
      font-weight: 400;
      font-size: 20px;
    }

    &-wrap {
      gap: 10px;
    }
  }

  .aboutUs {

    &-images {
    }

    &-image {

      &:nth-child(1) {

        &:nth-child(2) {
        }
      }
    }
  }
}