@media (max-width: 1200px) {

  .hero {

    &__title {
      font-size: 70px;
    }

    &__text {
      font-size: 40px;
    }
  }
}

@media (max-width: 992px) {

  .section {

    &-hero {
      background-image:
        url(../images/svg/bg-top.svg);
      background-position: center top;
      background-repeat: repeat-x;
    }
  }

  .hero {

    &__title {
      margin-bottom: 30px;
      font-size: 55px;
    }

    &__text {
      margin-bottom: 35px;
      font-size: 35px;
    }
  }
}

@media (max-width: 768px) {

  .section {

    &-hero {
      padding-top: 100px;
    }
  }

  .container {
    padding: 0 20px;
  }

  .hero {

    &__title {
      margin-bottom: 20px;
      font-weight: 600;
      font-size: 40px;
    }

    &__text {
      font-size: 28px;
    }
  }
}

@media (max-width: 576px) {

  .hero {

    &__title {
      margin-bottom: 5px;
      font-weight: 600;
      font-size: 36px;
    }

    &__text {
      font-weight: 400;
      font-size: 20px;
    }

    &-wrap {
      gap: 10px;
    }
  }
}