$font-main: 'Radio Canada', sans-serif;
$font-second: 'Raleway', sans-serif;
$col-bg-main: #fafafa;
$col-bg-second: #fff;
$col-bg-third: #cdedff;
$col-txt-main: #4f4f4f;
$col-txt-second: #0a8ed9;
$col-accent: #39b7ff;