@use '../vars' as *;

.spollers {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 10px;
  max-width: 1160px;

  .spoller {

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 15px 20px;
      margin-bottom: 10px;
      cursor: pointer;
      user-select: none;
      border-bottom: 1px solid $col-accent;

      &::marker {
        content: '';
        font-size: 0;
      }
    }

    &__title {
      margin-bottom: 0;
      font-weight: 500;
      font-size: 28px;
      line-height: 105%;
      transition: .2s;
    }

    &__icon {
      width: 15px;
    }

    &__content {
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.3s ease;
    }

    &__text {
      padding: 10px 15px;
      margin-bottom: 35px;
      max-width: 1000px;
    }
  }
}